<div id="network-topology" class="wrapper wrapper-content animated rotateIn no-padding"></div>

<div class="modal fade inmodal" id="dataModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <i class="fa fa-cube modal-icon"></i>
                <h5 class="modal-title">{{actionedDevice.label}}: {{actionedDevice.name}}</h5>
                <small class="font-bold" style="font-size: 11px;">Check the information produced by your device. You can
                    also turn it on or
                    off.</small>
            </div>
            <div class="modal-body" style="overflow: auto; max-height: 250px;">
                <div class="row">
                    <div class="col-lg-4 col-sm-6"
                        *ngFor="let information of actionedDevice.data | keyvalue, let i = index">
                        <div class="widget navy-bg no-padding" [ngClass]="{
                            'green-card': i % 3 === 0,
                            'blue-card': i % 3 === 1,
                            'yellow-card': i % 3 === 2
                        }">
                            <label class="text-capitalize m-xs m-l-sm">{{information.key}}</label>
                            <br>
                            <h3 class="text-center" style="font-size: 18px">{{information.value}}</h3>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal"
                    (click)="stopDeviceDataRequests()">Close</button>
            </div>
        </div>
    </div>
</div>