#network-topology {
    min-width: 600px;
    min-height: 732px;
    width: 100%;
    height: 100%;
}

.green-card {
    background-image:linear-gradient(to top right, #1ab394 0%, #1be3ba 100%);
    box-shadow: -3px 3px 12px -7px rgba(0,0,0,0.6);
}

.blue-card {
    background-image:linear-gradient(to top right, #0fa6a8 0%, #21d7d9 100%);
    box-shadow: -3px 3px 12px -7px rgba(0,0,0,0.6);
}

.yellow-card {
    background-image:linear-gradient(to top right, #f8ac59 0%, #ffd073 100%);
    box-shadow: -3px 3px 12px -7px rgba(0,0,0,0.6);
}

body {
    background: #ddd;
  }
  
  .sigma-wrapper {
    max-width: 300px;
    background: #fff;
    border: 2px solid #AAA;
    margin: auto;
  }
  
  #sigma-container {
    max-width: 300px;
    height: 300px;
  }
  
  .sigma-tooltip {
    max-width: 240px;
    max-height: 280px;
    background-color: #fff;
    border: 1px solid #999;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    cursor: auto;
    font-family: Arial;
    font-size: 12px;
  }
  
  .sigma-tooltip .icon {
    font-family: FontAwesome;
  }
  
  .sigma-tooltip-header {
    font-variant: small-caps;
    font-size: 120%;
    color: #000;
    border-bottom: 1px solid #999;
    padding: 10px;
  }
  
  .sigma-tooltip-body {
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: inherit;
    max-height: 180px;
  }
  
  .sigma-tooltip-body th {
    color: #999;
    text-align: left;
  }
  
  .sigma-tooltip-footer {
    padding: 10px;
    border-top: 1px solid #999;
  }
  
  .sigma-tooltip>.arrow {
    border-width: 10px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  
  .sigma-tooltip.top {
    margin-top: -12px;
  }
  
  .sigma-tooltip.top>.arrow {
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
    border-top-color: #999;
    border-bottom-width: 0;
  }
  
  .sigma-tooltip.bottom {
    margin-top: 12px;
  }
  
  .sigma-tooltip.bottom>.arrow {
    left: 50%;
    top: -10px;
    margin-left: -10px;
    border-bottom-color: #999;
    border-top-width: 0;
  }
  
  .sigma-tooltip.left {
    margin-left: -12px;
  }
  
  .sigma-tooltip.left>.arrow {
    top: 50%;
    right: -10px;
    margin-top: -10px;
    border-left-color: #999;
    border-right-width: 0;
  }
  
  .sigma-tooltip.right {
    margin-left: 12px;
  }
  
  .sigma-tooltip.right>.arrow {
    top: 50%;
    left: -10px;
    margin-top: -10px;
    border-right-color: #999;
    border-left-width: 0;
  }