<nav class="navbar-default navbar-static-side menu-animation animated slideInLeft" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <h1 class="logo-title">IoT Management</h1>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="text-muted text-xs block">{{username}}<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li (click)="logout()"><a class="dropdown-item">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">IoT</div>
            </li>
            <li [ngClass]="{active: activeRoute('/devices-network')}">
                <a [routerLink]="['/devices-network']"><i class="fa fa-share-alt"></i><span class="nav-label">Network</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('/users')}" *ngIf="isAdmin">
                <a [routerLink]="['/users']"><i class="fa fa-users"></i><span class="nav-label">Users</span></a>
            </li>
        </ul>
    </div>
</nav>